<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-chainway-library" version="1.0.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ChainwayLibrary</name>
  <js-module name="ChainwayLibrary" src="www/ChainwayLibrary.js">
    <clobbers target="cordova.plugins.chainway" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MainScan">
        <param name="android-package" value="com.al.chainwaylibrary.MainScan" />
      </feature>
    </config-file>
    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/MainScan.java" target-dir="src/com/al/chainwaylibrary" />
    <source-file src="src/android/ScanActivity.java" target-dir="src/com/al/chainwaylibrary" />
    <source-file src="src/android/Barcode2D.java" target-dir="src/com/al/chainwaylibrary" />
    <source-file src="src/android/IBarcodeResult.java" target-dir="src/com/al/chainwaylibrary" />
  </platform>
</plugin>